em.first {
	color: #ffd700;
	font-style: normal;
	font-weight: bold;
}
em.second {
	color: #C0C0C0;
	font-style: normal;
	font-weight: bold;
}
em.third {
	color: #8C7853;
	font-style: normal;
	font-weight: bold;
}
em.fourth {
	color: #99CCFF;
	font-style: normal;
	font-weight: bold;
}