@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

body {
	font-family: 'Gill Sans MT', serif;
	background-color: black;
	width: 720px;
	margin: 0 auto;
}

a:link {
	color: #77ab59;
	font-weight: bold;
	text-decoration: underline;
}
a:hover {
	color: #c9df8a;
	font-weight: bold;
	text-decoration: none;
}
a:active {
	color: #c9df8a;
	font-weight: bold;
	text-decoration: none;
}
a:visited {
	color: #77ab59;
	font-weight: bold;
	text-decoration: none;
}

#self-portrait {
	display: block;
	margin-left: 80%;
	margin-right: auto;
	margin-top: 24px;
}

#self-header {
	display: block;
	margin-left: 5%;
	margin-top: -72px;
	float: left;
}

#titlename {
	position: absolute;
	font-family: 'verdana', serif;
	color: white;
	font-size: 4em;
	margin-left: 13%;
	margin-right: auto;
	text-align: center;
	margin-top: -1em;
}

#body-container {
	background-color: #234D20;
	border: 4px solid #36802D;
	border-top: none;
	padding: 1em;
	margin-top: 0em;
}

/*hr.navbar {
	width: 100%;
	background-color: #6C6E70;
	border: none;
	height:	2px;
}*/

nav {
	text-align: center;
	color: #6C6E70;
}

#navbar-links {
	margin-top: 0px;
	margin-bottom: -2em;
	background-color: #234D20;
	border: 4px solid #36802D;
	border-bottom: none;
	padding: 0.5em;
}
#navbar-links a:link {
	color: #77ab59;
	font-weight: bold;
	text-decoration: underline;
}
#navbar-links a:hover {
	color: #c9df8a;
	font-weight: bold;
	text-decoration: none;
}
#navbar-links a:active {
	color: #c9df8a;
	font-weight: bold;
	text-decoration: none;
}
#navbar-links a:visited {
	color: #77ab59;
	font-weight: bold;
	text-decoration: none;
}

.category-description {
	color: #E5E4D7;
}

.slideshow-window {
	background-image: url('images/slideshow-8s.png');
	background-position: center;
	width: 568px;
	height: 333px;
}

.preview {
	width: 476px;
	height: 120px;
	overflow: hidden;
	border: 2px solid #36802D;
	position: relative;
	background-color: #2D3033;
	transition: opacity 0.5s 0.75s, width 0.5s;
	margin: auto;
}

.preview:hover {
	width: 596px;
}

.preview img {
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 1;
	transition: opacity 0.5s 0s;
	-webkit-filter: grayscale(100%);
	z-index: 2;
}

.preview:hover img {
	opacity: 0.25;
	transition: opacity 0.5s 0.75s;
	-webkit-filter: grayscale(0%);
	left: 0px;
}

.preview .name {
	position: absolute;
	text-align: center;
	font-weight: bold;
	width: 476px;
	text-shadow: black;
	color: #E5E4D7;
	transition: opacity 0.5s;
	height: 1em;
	top: -0.5em;
	left: 0px;
	opacity: 0;
	z-index: 3;
}
.preview:hover .name {
	opacity: 1;
}

.preview .big-name {
	position: relative;
	font-family: Verdana;
	text-align: right;
	font-weight: bold;
	font-size: 24;
	width: 476px;
	text-shadow: 1px 1px black, -1px 1px black, 1px -1px black, -1px -1px black;
	color: #E5E4D7;
	transition: opacity 1s;
	right: 4px;
	bottom: -66px;
	opacity: 1;
	z-index: 3;
}
.preview:hover .big-name {
	opacity: 0;
	transition: opacity 0.25s;
}

.preview .awards {
	position: absolute;
	text-align: center;
	top: -0.5em;
	right: 0px;
	color: #f0f7da;
	opacity: 1;
	width: 120px;
	z-index: 1;
}

.preview .awards em.placement {
	color: #E5E4D7;
	font-style: normal;
}
.preview .awards em.first {
	color: #ffd700;
	font-style: normal;
}
.preview .awards em.second {
	color: #C0C0C0;
	font-style: normal;
}
.preview .awards em.third {
	color: #8C7853;
	font-style: normal;
}

.preview .event {
	position: absolute;
	text-align: center;
	right: 0px;
	bottom: -0.5em;
	opacity: 1;
	width: 120px;
	z-index: 1;
}

.preview .event a:link {
	color: #77ab59;
	font-weight: bold;
	text-decoration: underline;
}
.preview .event a:hover {
	color: #77ab59;
	font-weight: bold;
	text-decoration: none;
}
.preview .event a:active {
	color: #77ab59;
	font-weight: bold;
	text-decoration: underline;
}
.preview .event a:visited {
	color: #77ab59;
	font-weight: bold;
	text-decoration: underline;
}

.preview .description {
	position: absolute;
	text-align: center;
	width: 476px;
	overflow: hidden;
	top: 1em;
	color: #f0f7da;
	opacity: 0;
	transition: opacity 0s;
	opacity: 0;
	z-index: 3;
}
.preview:hover .description {
	transition: opacity 1s 0.75s;
	opacity: 1;
}

.preview .downloads {
	position: absolute;
	text-align: center;
	width: 480px;
	text-shadow: black;
	color: #E5E4D7;
	transition: opacity 0s;
	height: 1em;
	bottom: -0.5em;
	left: 0px;
	opacity: 0;
	z-index: 3;
}
.preview:hover .downloads {
	transition: opacity 1s 0.75s;
	opacity: 1;
}
.preview .downloads a:link {
	color: #77ab59;
	font-weight: bold;
	text-decoration: underline;
}
.preview .downloads a:hover {
	color: #77ab59;
	font-weight: bold;
	text-decoration: none;
}
.preview .downloads a:active {
	color: #77ab59;
	font-weight: bold;
	text-decoration: underline;
}
.preview .downloads a:visited {
	color: #77ab59;
	font-weight: bold;
	text-decoration: underline;
}

#content {
	width: 600px;
	padding: 24px;
	margin: 0 auto;
	text-align: center;
}

.header {
	color: #C9DF8A;
	background-color: #36802d;
	font-family: Verdana;
	z-index: 1;
	border: 2px solid #77ab59;
	padding: 0.2em;
}

h1.header {
	border: 4px solid #77ab59;
	font-size: 2em;
	margin-top: 0em;
	margin-bottom: 0.5em;
}

h1.latest-release {
	color: #C9DF8A;
	text-align: center;
	background-image: url('images/stealth-2-banner.png');
	width: 100%;
	height: 120px;
	z-index: 1;
	border: 2px solid #36802D;
	font-size: 2em;
}

.news-feed {
	width: 296px;
	height: 240px;
	overflow: hidden;
	border: 2px solid #36802D;
	position: relative;
	text-align: center;
	background-color: #2D3033;
	margin: auto;
	display: inline-block;
	float: right;
}

.news-feed .news-header {
	position: relative;
	font-family: Verdana;
	text-align: center;
	font-weight: bold;
	font-size: 16;
	text-shadow: 1px 1px black, -1px 1px black, 1px -1px black, -1px -1px black;
	color: #f0f7da;
	right: 4px;
	z-index: 3;
}

.news-feed .news-entry {
	width: 256px;
	margin-left: 16px;
	text-align: left;
	color: white;
}

.news-feed .news-link {
	position: absolute;
	text-align: center;
	width: 296px;
	text-shadow: black;
	color: #E5E4D7;
	height: 1em;
	bottom: -0.5em;
	left: 0px;
	z-index: 3;
}

.article-preview {
	width: 296px;
	height: 120px;
	overflow: hidden;
	border: 2px solid #36802D;
	position: relative;
	background-color: #2D3033;
	margin: auto;
	display: inline-block;
}

.article-preview img {
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 1;
	transition: opacity 0.5s;
	-webkit-filter: grayscale(100%);
	z-index: 2;
}

.article-preview:hover img {
	opacity: 0.25;
	transition: opacity 0.5s 0.75s;
	-webkit-filter: grayscale(0%);
	left: 0px;
}

.article-preview .little-name {
	position: relative;
	font-family: Verdana;
	text-align: right;
	font-weight: bold;
	font-size: 16;
	text-shadow: 1px 1px black, -1px 1px black, 1px -1px black, -1px -1px black;
	color: #f0f7da;
	transition: opacity 0.25s;
	right: 4px;
	bottom: -84px;
	opacity: 1 0.25s;
	z-index: 3;
}

.article-preview:hover .little-name {
	opacity: 0;
	transition: opacity 0.25s 0s;
}

.article-preview .article-name {
	position: absolute;
	text-align: center;
	font-weight: bold;
	width: 296px;
	text-shadow: black;
	color: #E5E4D7;
	transition: opacity 0.25s 0s;
	height: 1em;
	top: -0.5em;
	left: 0px;
	opacity: 0;
	z-index: 3;
}
.article-preview:hover .article-name {
	opacity: 1;
	transition: opacity 0.25s;
}

.article-preview .article-description {
	position: absolute;
	text-align: center;
	width: 296px;
	overflow: hidden;
	top: 1em;
	color: #f0f7da;
	opacity: 0;
	transition: opacity 0.25s;
	opacity: 0;
	z-index: 3;
}
.article-preview:hover .article-description {
	transition: opacity 1s 0.75s;
	opacity: 1;
}

.article-preview .link {
	position: absolute;
	text-align: center;
	width: 296px;
	text-shadow: black;
	color: #E5E4D7;
	transition: opacity 0s;
	height: 1em;
	bottom: -0.5em;
	left: 0px;
	opacity: 0;
	z-index: 3;
}
.article-preview:hover .link {
	transition: opacity 1s 0.75s;
	opacity: 1;
}
.article-preview .link a:link {
	color: #77ab59;
	font-weight: bold;
	text-decoration: underline;
}
.article-preview .link a:hover {
	color: #77ab59;
	font-weight: bold;
	text-decoration: none;
}
.article-preview .link a:active {
	color: #77ab59;
	font-weight: bold;
	text-decoration: underline;
}
.article-preview .link a:visited {
	color: #77ab59;
	font-weight: bold;
	text-decoration: underline;
}

footer {
	text-align: center;
	color: #f0f7da;
	}