/*

	#61892F ACCENT DARK
	#86C232 ACCENT LIGHT
	#222629 BACKGROUND
	#474B4F DARK TEXT
	#6B6E70 LIGHT TEXT

*/


/*** BODY AND PAGE STRUCTURE ***/

/* Main body */
body {
	font-family: 'Gill Sans MT', serif;
	background-color: #222629;
	margin-top: 0; margin-bottom: 0;		/* essential for the sticky headers/footers to work properly */
}

/* Hyperlinks */
a:link {
	color: #f0f7da;
	text-decoration: underline;
}
a:visited {
	color: #f0f7da;
	text-decoration: underline;
}
a:hover {
	color: #86C232;
	text-decoration: none;
}
a:active {
	color: #86C232;
	text-decoration: none;
}

/* Top of page banner */
#header-banner {

	/* Positioning and display */
	width: 720px;
	height: 104px;
	display: block;
	position: sticky;	/* explicitly a sticky header */
	top: 0;				/* fix to absolute top of window when sticky */
	
	/* Padding and margin */
	padding: 0;
	padding-top: 8px;
	margin: 0 auto;
	margin-bottom: 0;
	

	z-index: 9;		/* header should appear about everything, always */

	/* Appearance */
	background-color: #222629;
	border-bottom: 4px solid #86C232;
}

/* Contents of top level banner */
#self-portrait {

	/* Positioning and display */
	height: 96px;
	display: block;
	position: absolute;
	bottom: 0;

	margin-left: 24px;
	z-index: -1;	/* profile picture goes to bottom */
}

#self-header {

	/* Positioning and display */
	height: 55px;
	display: block;
	position: absolute;
	bottom: 16px;

	margin-left: 460px;		/* right align; page "width" is fixed regardless */
}

/* remove margins from images in header objects */
#self-portrait img, #self-header img {
	margin: 0;
}

/* navigation bar */
#navbar {

	/* Positioning and display */
	width: 540px;
	display: block;
	position: absolute;
	bottom: 32px;
	right: 160px;			/* roughly centers the hyperlinks between profile and name images */

	/* Appearance */
	text-align: center;
	color: #86C232;
}

/* this helps vertically center */
#navbar p {
	margin: 0;
	padding: 0;
}

/** TODO: mobile navbar */
#navbar-links-mobile {
	display: none;
}

/* Main body container */
#body-container {

	/* Positioning and display */
	width: 680px;
	margin: 0 auto;

	padding: 1em;

	/* Appearance */
	background-color: #234D20;
	border: 4px solid #86C232;
	border-top: none;
	border-bottom: none;	/* remove top and bottom borders; header and footer handle it */
}

#content {
	/* everything in this block is center aligned by default */
	text-align: center;

	width: 100%;
	padding: 0px;
	margin: 0 auto;
}

/* generic paragraph */
.content-p {
	color: #E5E4D7;
}

/* Content headers */
.header {	/* Base for all headers */

	padding: 0.2em;

	color: #C9DF8A;
	border-bottom: 2px solid #77ab59;
	font-family: Verdana;
	z-index: 1;
}

h1.header {	/* Top level */
	margin-top: 0em;
	margin-bottom: 0.5em;

	font-size: 2em;
}

h2.header {	/* Second level */
	width: 480px;			/* smaller width */

	margin-left: auto;
	margin-right: auto;		/* center content */
}

/*** CONTENT BLOCKS ***/

/* wide content blocks */
.item-wide {

	/* Positioning and display */
	width: 595;
	height: 120px;
	display: inline-block;
	position: relative;

	margin: auto;
	overflow: none;	/* don't let anything overflow out of these */

	/* Appearance */
	background-color: #2D3033;
	border: 2px solid #77ab59;
}

.item-wide img {		/* wide content block images */
	/* Positioning and display */
	position: absolute;
	top: 0;
	left: 0;

	z-index: 2;		/* place behind other content */
}

.item-wide .name 		/* game name */
{
	/* Positioning and display */
	width: 476px;
	height: 1em;
	position: absolute;
	top: -0.5em;
	left: 0px;

	/* Appearance */
	text-align: center;
	font-weight: bold;
	color: gold;
	text-shadow: 1px 1px black, -1px 1px black, 1px -1px black, -1px -1px black;
	opacity: 0;
	
	/* This should be rendered above the bg image and some other items */
	z-index: 3;
}

.item-wide .awards {	/* awards / side panel information */

	/* Positioning and display */
	width: 120px;
	position: absolute;
	transform: translate(0, -50%);

	top: 50%;
	right: 0px;
	margin: 0;
	
	/* Appearance */
	color: #f0f7da;
	opacity: 1;
	text-align: center;
}

.item-wide .awards em.placement {	/* awards formatting */
	color: #E5E4D7;
	font-style: normal;
}
.item-wide .awards em.first {
	color: #ffd700;
	font-style: normal;
}
.item-wide .awards em.second {
	color: #C0C0C0;
	font-style: normal;
}
.item-wide .awards em.third {
	color: #8C7853;
	font-style: normal;
}

/* descriptive text */
.item-wide .description {

	/* Positioning and display */
	width: 476px;
	position: absolute;
	text-align: center;
	top: 41px;

	margin: 0;
	padding: 0;
	
	/* Appearance */
	color: #f0f7da;
	text-shadow: 1px 1px black, -1px 1px black, 1px -1px black, -1px -1px black;
	overflow: hidden;
	opacity: 0;

	z-index: 3;
}

/* download / "More Info" link */
.item-wide .downloads {

	width: 480px;
	height: 1em;
	position: absolute;
	text-align: center;
	
	text-shadow: black;
	color: #E5E4D7;
	
	left: 0px;
	bottom: -0.5em;
	
	opacity: 0;
	z-index: 3;
}

/* fade effects for wide items */
.item-wide:hover img {
	opacity: 0.25;
}

.item-wide:hover .name {
	opacity: 1;
}

.item-wide:hover .description {
	opacity: 1;
}

.item-wide:hover .downloads {
	opacity: 1;
}