/*

	CSS COLOR GUIDE

	#61892F ACCENT DARK
	#86C232 ACCENT LIGHT
	#222629 BACKGROUND
	#474B4F DARK TEXT
	#6B6E70 LIGHT TEXT

*/


/*** BODY AND PAGE STRUCTURE ***/

/* Main body */
body {
	font-family: 'Gill Sans MT', serif;
	background-color: #222629;
	margin-top: 0; margin-bottom: 0;		/* essential for the sticky headers/footers to work properly */
}

/* Hyperlinks */
a:link {
	color: #f0f7da;
	text-decoration: underline;
}
a:visited {
	color: #f0f7da;
	text-decoration: underline;
}
a:hover {
	color: #86C232;
	text-decoration: none;
}
a:active {
	color: #86C232;
	text-decoration: none;
}

/* Top of page banner */
#header-banner {

	/* Positioning and display */
	width: 720px;
	height: 104px;
	display: block;
	position: sticky;	/* explicitly a sticky header */
	top: 0;				/* fix to absolute top of window when sticky */
	
	/* Padding and margin */
	padding: 0;
	padding-top: 8px;
	margin: 0 auto;
	margin-bottom: 0;
	

	z-index: 9;		/* header should appear about everything, always */

	/* Appearance */
	background-color: #222629;
	border-bottom: 4px solid #86C232;
}

/* Contents of top level banner */
#self-portrait {

	/* Positioning and display */
	height: 96px;
	display: block;
	position: absolute;
	bottom: 0;

	margin-left: 24px;
	z-index: -1;	/* profile picture goes to bottom */
}

#self-header {

	/* Positioning and display */
	height: 55px;
	display: block;
	position: absolute;
	bottom: 16px;

	margin-left: 460px;		/* right align; page "width" is fixed regardless */
}

/* remove margins from images in header objects */
#self-portrait img, #self-header img {
	margin: 0;
}

/* navigation bar */
#navbar {

	/* Positioning and display */
	width: 540px;
	display: block;
	position: absolute;
	bottom: 32px;
	right: 160px;			/* roughly centers the hyperlinks between profile and name images */

	/* Appearance */
	text-align: center;
	color: #86C232;
}

/* this helps vertically center */
#navbar p {
	margin: 0;
	padding: 0;
}

/** TODO: mobile navbar */
#navbar-links-mobile {
	display: none;
}

/* Main body container */
#body-container {

	/* Positioning and display */
	width: 680px;
	margin: 0 auto;

	padding: 1em;

	/* Appearance */
	background-color: #234D20;
	border: 4px solid #86C232;
	border-top: none;
	border-bottom: none;	/* remove top and bottom borders; header and footer handle it */
}

#body-container-homepage {
	width: 680px;
	margin: 0 auto;

	padding: 1em;
	background: url('images/back_gradient.png'),
				linear-gradient(180deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) 400px, #234D20 400px),
				url('');
	background-size: 100% 401px,
					 contain;

	border: 4px solid #86C232;
	border-top: none;
	border-bottom: none;	/* remove top and bottom borders; header and footer handle it */
}

#content {
	/* everything in this block is center aligned by default */
	text-align: center;

	width: 600px;
	padding: 24px;
	margin: 0 auto;
}

.content-games {
	background-color: #222629;
	border: 2px solid #77ab59;
}

/* generic paragraph */
.content-p {
	color: #E5E4D7;
}

/* Content headers */
.header {	/* Base for all headers */

	padding: 0.2em;

	color: #C9DF8A;
	border-bottom: 2px solid #77ab59;
	font-family: Verdana;
	z-index: 1;
}

h1.header {	/* Top level */
	margin-top: 0em;
	margin-bottom: 0.5em;

	font-size: 2em;
}

h2.header {	/* Second level */
	width: 480px;			/* smaller width */

	margin-left: auto;
	margin-right: auto;		/* center content */
}

/* Footer */
footer {

	/* Positioning */
	width: 712px;
	position: sticky;
	bottom: 0;

	margin: 0 auto;

	/* Appearance */
	color: #f0f7da;
	background-color: #222629;
	border-top: 4px solid #86C232;
	text-align: center;
	padding: 0.25em;
	z-index: 9;
}

@media only screen and (max-width: 600px) {

	.nomobile {
		display: none;
	}

	body {
		margin-left: 0;
		margin-right: 0;
	}

	/* Top of page banner */
	#header-banner {

		/* Positioning and display */
		width: 100%;
		height: 104px;
		display: block;
		position: sticky;	/* explicitly a sticky header */
		top: 0;				/* fix to absolute top of window when sticky */
		
		/* Padding and margin */
		padding: 0;
		padding-top: 0px;
		margin: 0 auto;
		margin-bottom: 0;
		

		z-index: 9;		/* header should appear about everything, always */

		/* Appearance */
		background-color: white; /* #222629; */
		border-bottom: 4px solid #86C232;

		background: url('images/back_gradient.png'),
					linear-gradient(180deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) 400px, #234D20 400px),
					url('images/8s-gif.gif');
		background-size: 100% 100%px,
					 contain;
		background-position: 25% 50%;

	}

	/* Contents of top level banner */
	#self-portrait {

		/* Positioning and display */
		height: 96px;
		display: block;
		position: absolute;
		bottom: 0;
		z-index: -1;	/* profile picture goes to bottom */
	}

	#self-header {

		/* Positioning and display */
		width: 236px;
		height: 55px;
		display: block;
		position: absolute;
		bottom: 16px;
		left: -32px;

		margin-left: calc(100% - 236px);
		margin-right: 32px;
	}

	/* remove margins from images in header objects */
	#self-portrait img, #self-header img {
		margin: 0;
	}

	#navbar {
		display: none;
	}

	#navbar-links-mobile {
		width: calc(100% - 4px);
		display: block;
		text-align: center;
		background-color: #234D20;
		margin: 0;
		padding-top: 0em;
		border: 2px solid #C9DF8A;
	}

	.mobile-nav-link {
		font-size: 2em;
		padding: 0em;
		display: none;
	}

	#navbar-links-mobile #hide-button {
		padding: 3px;
		font-family: relative;
		font-size: 1.75em;
		position: relative;
		text-align: center;
		height: 1.5em;
		width: calc(100%);
		border: none;
		color: #C9DF8A;
		font-weight: bold;
		background-color: #234D20;
		outline: none;
		line-height: 100%;
		vertical-align: middle;
	}

	#navbar-links-mobile #hide-button:hover {
		background-color: #36802d;
	}

	#body-container, #body-container-homepage {
		width: calc(100% - 8px);
		margin: 0 auto;

		padding: 0;

		/* border: 4px solid #86C232; */
		border-top: none;
		border-bottom: none;	/* remove top and bottom borders; header and footer handle it */
	}

	#content {
		/* everything in this block is center aligned by default */
		text-align: center;
		background-color: #234D20;
		width: 100%;
		padding: 0px;
		margin: 0 auto;
	}

	.slideshow-window {
		display: none;
	}

	footer {
		/* Positioning */
		width: 100%;
		position: sticky;
		bottom: 0;

		margin: 0 auto;

		/* Appearance */
		color: #f0f7da;
		background-color: #222629;
		border-top: 4px solid #86C232;
		text-align: center;
		padding: 0.25em;
		z-index: 9;
	}
}