@font-face {
	font-family:		 header;
	src:				 url('gunplay-3d.ttf');
}
@font-face {
	font-family:		 tagline;
	src:				 url('gunplay-rg.ttf');
}

body {
	font-family: 'Gill Sans MT', serif;
	background-color: black;
	width: 720px;
	margin: 0 auto;
}

a:link {
	color: #bfbfff;
	font-weight: bold;
	text-decoration: underline;
}
a:hover {
	color: #e0e0ff;
	font-weight: bold;
	text-decoration: none;
}
a:active {
	color: #e0e0ff;
	font-weight: bold;
	text-decoration: none;
}
a:visited {
	color: #bfbfff;
	font-weight: bold;
	text-decoration: none;
}

#self-portrait {
	display: block;
	margin-left: 80%;
	margin-right: auto;
}

#self-header {
	display: block;
	margin-left: 5%;
	margin-top: -12%;
	float: left;
}

#titlename {
	position: absolute;
	font-family: 'verdana', serif;
	color: white;
	font-size: 4em;
	margin-left: 13%;
	margin-right: auto;
	text-align: center;
	margin-top: -1em;
}

#body-container {
	background-color: #070052;
	border: 4px solid #8080ff;
	border-top: none;
	padding: 1em;
	margin-top: 0em;
}

nav {
	text-align: center;
	color: #6C6E70;
}

#navbar-links {
	margin-top: 0px;
	margin-bottom: -2em;
	background-color: #070052;
	border: 4px solid #8080ff;
	border-bottom: none;
	padding: 0.5em;
}
#navbar-links a:link {
	color: #bfbfff;
	font-weight: bold;
	text-decoration: underline;
}
#navbar-links a:hover {
	color: #e0e0ff;
	font-weight: bold;
	text-decoration: none;
}
#navbar-links a:active {
	color: #e0e0ff;
	font-weight: bold;
	text-decoration: none;
}
#navbar-links a:visited {
	color: #bfbfff;
	font-weight: bold;
	text-decoration: none;
}

.category-description {
	color: #E5E4D7;
}

#content {
	width: 600px;
	padding: 24px;
	margin: 0 auto;
	text-align: center;
}

.panel {
	border: 4px solid #8080ff;
}

.panel img {
	border: none;
}

#information {
	background-color: black;
	color: #00ff00;
	border: 2px solid #8080ff;
	text-align: left;
	width: 564px;
	height: 192px;
	padding: 1em;
	font-family: monospace;
	font-size: 1.25em;
	overflow-y: scroll;
}

h1.header {
	/* border: 4px solid #8080ff */;
	color: #bfbfff;
	font-family: header;
	font-size: 3em;
	padding: 0.2em;
	margin-top: 0em;
	margin-bottom: 0.5em;
}

h2.tagline {
	color: #bfbfff;
	font-family: tagline;
	font-size: 2em;
	padding: 0.2em;
	margin-top: -1.25em;
	margin-bottom: 0.5em;
	font-weight: normal;
}

h1.latest-release {
	color: #C9DF8A;
	text-align: center;
	background-image: url('images/stealth-2-banner.png');
	width: 100%;
	height: 120px;
	z-index: 1;
	border: 2px solid #36802D;
	font-size: 2em;
}

footer {
	text-align: center;
	color: #f0f7da;
	}