@font-face {
  font-family: 'PixelMix';
  src: url('./resources/pixelmix.ttf');
}

body {
	margin: 0;
	padding: 0;
	background: url("../resources/back.jpg");
	background-color: #000;
    background-size: 100% 100%;
    background-repeat: no-repeat;
	}

img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}

h1 {
	font-family: 'PixelMix','Courier New';
	font-weight: normal;
	font-size: 2em;
	text-align: center;
	color: #fff;
}

h2 {
	font-family: 'PixelMix','Courier New';
	font-weight: normal;
	font-size: 1em;
	text-align: left;
	color: #fff;
}

section#main_body {
	margin-left: auto;
	margin-right: auto;
    width: 30em;
    padding: 1.563em;
	border: 2em transparent;
    -webkit-border-image: url(../resources/border.png) 32 32 repeat; /* Safari 3.1-5 */
    -o-border-image: url(../resources/border.png) 32 32 repeat; /* Opera 11-12.1 */
    border-image: url(../resources/border.png) 32 32 repeat;
	background-color: #800000;
	}

p.main {
	color: #fff;
	}
p.footer {
	color: #fff;
	text-align: center;
	}
	
nav.sidebar {
	text-align: center;
	color: #fff;
	}

li.item {
	display: inline;
	list-style-type: none;
	}
em {
	font-size: 18px;
	}
	
/* unvisited link */
a:link {
    color: #FFF;
}

/* visited link */
a:visited {
    color: #FFF;
}

/* mouse over link */
a:hover {
    color: #777;
}

/* selected link */
a:active {
    color: #FFF;
}