@font-face {
  font-family: 'PixelMix';
  src: url('./resources/pixelmix.ttf');
}

body {
	margin: 0;
	padding: 0;
	background: url("../resources/back.jpg");
	background-color: #000;
    background-size: 100% 100%;
    background-repeat: no-repeat;
	}

img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}

h1 {
	font-family: 'PixelMix','Courier New';
	font-weight: normal;
	font-size: 24px;
	text-align: center;
	color: #fff;
}

h2 {
	font-family: 'PixelMix','Courier New';
	font-weight: normal;
	font-size: 16px;
	text-align: left;
	color: #fff;
}

section#main_body {
	margin-left: auto;
	margin-right: auto;
    width: 480px;
    padding: 25px;
	border: 32px transparent;
    -webkit-border-image: url(../resources/border.png) 32 32 repeat; /* Safari 3.1-5 */
    -o-border-image: url(../resources/border.png) 32 32 repeat; /* Opera 11-12.1 */
    border-image: url(../resources/border.png) 32 32 repeat;
	background-color: #800000;
	}

p.main {
	color: #fff;
	}