* {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	}

section {
	position: relative;
	top: 50%;
	transform: translateY(-55%);
	}
	
header>img {
	display: inline-block;
	vertical-align: middle;
	}

header {
	background-color: white;
	position: fixed;
	top: 0;
	width: 100%;
	border-style: none none solid none;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	}	

footer {
	background-color: white;
	position: fixed;
	bottom: 0;
	width: 100%;
	border-style: solid none none none;
	padding-top: 1em;
	}
	
@media screen and ( max-width : 320px ) {
	* {
		font-size: 1.1em;
		}
	section {
		position: relative;
		top: 0;
		transform: translateY(0%);
		}
	img {
		width: 100%;
		}
	header {
		display: none;
		}
	footer {
		width: 100%;
		border-style: solid none none none;
		padding-top: 1em;
		position: relative;
		}
	}