body {
	background-image: url("back.jpg");
	}

section {
	position: block;
	top: 100%;
	z-index: 1;
	}
	
h1 {
	font-size: 5em;
	font-family: "Papyrus";
	font-weight: 900;
	margin-bottom: 1px;
	margin-top: 1px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	}
	
header>p {
	font-size: 2.5em;
	font-family: "Times New Roman";
	margin-top: 1px;
	margin-bottom: 1px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	}
	
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}
	
header>p.smaller {
	font-size: 1em;
	font-family: "Times New Roman";
	margin-top: 1px;
	margin-bottom: 1px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	}
header>p.kinda-smaller {
	font-size: 1.5em;
	font-family: "Times New Roman";
	margin-top: 1px;
	margin-bottom: 1px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	}
section>padding	{
	text-align: left;
	margin-left: 1em;
	}